body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.profile img {
    width: 300px; /* Aumenta el tamaño de la imagen */
    height:300px; /* Aumenta el tamaño de la imagen */

    object-fit: cover; /* Asegura que la imagen se reduzca de manera uniforme */
}



.social-links a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f1c40f;
}
